
  <div *ngFor="let task of tasksList">
    <div>
      <a [routerLink]="['/tasks/edit']" [queryParams]="{id: task.id}" (click)='getTask(task.id)'>{{task.name}}</a>
      <details>
        <p>Описание: {{task.description}}</p>
        <hr>
        <br>
        <p> Готовность:{{task.isDone}}</p>
        <hr>
        <br>
        <p>Срок сдачи до: {{task.deadLine}}</p>
        <br>
      </details>
      <div class="form-group">

        <input type="button" value="Удалить" (click)="delete(task.id)" class="btn btn-danger" />

      </div>

    </div>
  </div>

